@import url('../../styles/vars.css');

.inputRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'Label Output' 'Input Input';
  margin: var(--gutter) auto;

  & + & {
    padding-top: var(--gutter);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.selectRow {
  grid-template-areas: 'Label Input Input Input';
  grid-template-columns: 1fr 3fr;
}

.label {
  grid-area: Label;
  align-self: center;
}

.input {
  grid-area: Input;
}

.output {
  grid-area: Output;
  text-align: right;
}

.selectBox {
  font-size: 1.5rem;
}
