@import url('../../styles/vars.css');

.speechForm {
  display: grid;
  grid-template-columns: auto;
  gap: var(--half-gutter);

  button {
    margin: 0;
  }
}

.textInput {
  resize: vertical;
  min-height: 8rem;
  max-height: 400px;
  padding: var(--half-gutter);
}

.button {
  cursor: pointer;
  font-size: 1.25em;
  padding: var(--half-gutter);
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  text-align: center;

  & > .buttonText {
    flex: 0 0 auto;
  }

  small {
    font-size: 0.75em;
  }
}
